In [2]:
import pandas
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation

In [3]:
#Reading training data
titanic = pandas.read_csv("train.csv")
print(titanic.head(5))
print(titanic.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                             Heikkinen, Miss. Laina  female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                           Allen, Mr. William Henry    male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
#Making up for missing data for Age column
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].mean())

In [5]:
#converting non-numeric value -> male=0, female=1
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

In [6]:
#Find unique values in "embarked" to find nan if any
print(titanic["Embarked"].unique())

['S' 'C' 'Q' nan]

In [7]:
#Replace nan in "Embarked" with "S"
titanic["Embarked"] = titanic["Embarked"].fillna("S")

#conver non-numeric to numeric in "Embarked"
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

In [8]:
#defining columns to be used for prediction
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [9]:
#Algorithm Initialization 
alg = LogisticRegression(random_state = 1)

In [11]:
#cross validation score with 3 folds to avoid overfitting
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv =3)
#mean of 3 scores
print(scores.mean())

0.79012345679

In [12]:
#processing the test set to query
titanic_test = pandas.read_csv("test.csv")
print(titanic_test.head(5))
print(titanic_test["Fare"].unique())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
[   7.8292    7.        9.6875    8.6625   12.2875    9.225     7.6292
   29.        7.2292   24.15      7.8958   26.       82.2667   61.175
   27.7208   12.35      7.225     7.925    59.4       3.1708   31.6833
   61.3792  262.375    14.5      61.9792   30.5      21.6792   31.5
   20.575    23.45     57.75      8.05      9.5      56.4958   13.4167
   26.55      7.85     13.       52.5542   29.7       7.75     76.2917
   15.9      60.       15.0333   23.      263.       15.5792   29.125
    7.65     16.1      13.5       7.725    21.        7.8792   42.4
   28.5375  211.5      25.7      15.2458  221.7792   10.7083   14.4542
   13.9       7.775    52.        7.7958   78.85      7.8542   55.4417
    8.5167   22.525     7.8208    8.7125   15.0458    7.7792   31.6792
    7.2833    6.4375   16.7      75.2417   15.75      7.25     23.25     28.5
   25.4667   46.9     151.55     18.       51.8625   83.1583       nan
   12.1833   31.3875    7.55     13.775     7.7333   22.025    50.4958
   34.375     8.9625   39.       36.75     53.1     247.5208   16.       69.55
   32.5     134.5      10.5       8.1125   15.5      14.4     227.525
   25.7417    7.05     73.5      42.5     164.8667   13.8583   27.4458
   15.1      65.        6.4958   71.2833   75.25    106.425    30.
    7.8875   27.75    136.7792    9.325    17.4      12.7375    0.
   20.2125   39.6       6.95     81.8583   41.5792   45.5       9.35     93.5
   14.1083    7.575   135.6333  146.5208  211.3375   79.2      15.7417
    7.5792  512.3292   63.3583   51.4792   15.55     37.0042   14.4583
   39.6875   11.5      50.       12.875    21.075    39.4      20.25     47.1
   13.8625    7.7208   90.      108.9      22.3583]

In [13]:
#replacing missing value and numeric with non-numeric values same as above
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].mean())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")
titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [14]:
#Trainig the algorithm using all training data
alg.fit(titanic[predictors], titanic["Survived"])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=1, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
#Make predictions using test
predictions = alg.predict(titanic_test[predictors])

In [16]:
#Generating a submission file with desired format
submission = pandas.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })
submission.to_csv("kaggle.csv", index=False)