In [58]:
#Dataset can be downloaded from kaggle website under titanic competition
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold

In [59]:
import pandas
import numpy as np

In [60]:
#Reading training data
titanic = pandas.read_csv("train.csv")

In [61]:
print(titanic.head(5))
print(titanic.describe())
print(titanic["Age"].unique())
print(titanic["Embarked"].unique())
print(titanic["Fare"].unique())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                             Heikkinen, Miss. Laina  female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                           Allen, Mr. William Henry    male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
[ 22.    38.    26.    35.      nan  54.     2.    27.    14.     4.    58.
  20.    39.    55.    31.    34.    15.    28.     8.    19.    40.    66.
  42.    21.    18.     3.     7.    49.    29.    65.    28.5    5.    11.
  45.    17.    32.    16.    25.     0.83  30.    33.    23.    24.    46.
  59.    71.    37.    47.    14.5   70.5   32.5   12.     9.    36.5   51.
  55.5   40.5   44.     1.    61.    56.    50.    36.    45.5   20.5   62.
  41.    52.    63.    23.5    0.92  43.    60.    10.    64.    13.    48.
   0.75  53.    57.    80.    70.    24.5    6.     0.67  30.5    0.42
  34.5   74.  ]
['S' 'C' 'Q' nan]
[   7.25     71.2833    7.925    53.1       8.05      8.4583   51.8625
   21.075    11.1333   30.0708   16.7      26.55     31.275     7.8542
   16.       29.125    13.       18.        7.225    26.        8.0292
   35.5      31.3875  263.        7.8792    7.8958   27.7208  146.5208
    7.75     10.5      82.1708   52.        7.2292   11.2417    9.475    21.
   41.5792   15.5      21.6792   17.8      39.6875    7.8      76.7292
   61.9792   27.75     46.9      80.       83.475    27.9      15.2458
    8.1583    8.6625   73.5      14.4542   56.4958    7.65     29.       12.475
    9.        9.5       7.7875   47.1      15.85     34.375    61.175
   20.575    34.6542   63.3583   23.       77.2875    8.6542    7.775
   24.15      9.825    14.4583  247.5208    7.1417   22.3583    6.975
    7.05     14.5      15.0458   26.2833    9.2167   79.2       6.75     11.5
   36.75      7.7958   12.525    66.6       7.3125   61.3792    7.7333
   69.55     16.1      15.75     20.525    55.       25.925    33.5
   30.6958   25.4667   28.7125    0.       15.05     39.       22.025    50.
    8.4042    6.4958   10.4625   18.7875   31.      113.275    27.
   76.2917   90.        9.35     13.5       7.55     26.25     12.275
    7.125    52.5542   20.2125   86.5     512.3292   79.65    153.4625
  135.6333   19.5      29.7      77.9583   20.25     78.85     91.0792
   12.875     8.85    151.55     30.5      23.25     12.35    110.8833
  108.9      24.       56.9292   83.1583  262.375    14.      164.8667
  134.5       6.2375   57.9792   28.5     133.65     15.9       9.225    35.
   75.25     69.3      55.4417  211.5       4.0125  227.525    15.7417
    7.7292   12.      120.       12.65     18.75      6.8583   32.5
    7.875    14.4      55.9       8.1125   81.8583   19.2583   19.9667
   89.1042   38.5       7.725    13.7917    9.8375    7.0458    7.5208
   12.2875    9.5875   49.5042   78.2667   15.1       7.6292   22.525
   26.2875   59.4       7.4958   34.0208   93.5     221.7792  106.425
   49.5      71.       13.8625    7.8292   39.6      17.4      51.4792
   26.3875   30.       40.125     8.7125   15.       33.       42.4      15.55
   65.       32.3208    7.0542    8.4333   25.5875    9.8417    8.1375
   10.1708  211.3375   57.       13.4167    7.7417    9.4833    7.7375
    8.3625   23.45     25.9292    8.6833    8.5167    7.8875   37.0042
    6.45      6.95      8.3       6.4375   39.4      14.1083   13.8583
   50.4958    5.        9.8458   10.5167]

In [62]:
# making for missing data in Age column
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].mean())
# making for missing data in Embarked with 'S'
titanic["Embarked"] = titanic["Embarked"].fillna("S")
titanic["Fare"] = titanic["Fare"].fillna(titanic["Fare"].median())

In [63]:
# converting non-numeric values to numeric male = 0, female = 1
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

#conver non-numeric to numeric in "Embarked"
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

In [64]:
# Defining columns to be used as predictors
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [65]:
# Algorithm inititalization
alg = LinearRegression()

In [66]:
#generating cross validation for dataset, returns row indices corresonding to train and test
kf = KFold(titanic.shape[0], n_folds = 3, random_state = 1)
# random state is 1 to get same split everytime
print(kf)

sklearn.cross_validation.KFold(n=891, n_folds=3, shuffle=False, random_state=1)

In [67]:
predictions = []

In [68]:
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic[predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = titanic["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

In [69]:
#concatenante prediction consisting of 3 saperate numpy arrays over axis = 0
predictions = np.concatenate(predictions, axis = 0)

In [70]:
# Map predictions to outcomes (only possible outcomes are 1 and 0)
predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print(accuracy)

0.785634118967

/home/mirk/Reportgraph/reportgraph/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

In [73]:
#replacing missing value and numeric with non-numeric values same as above
titanic_test = pandas.read_csv("test.csv")
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].mean())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")
titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [74]:
#Trainig the algorithm using all training data
alg.fit(titanic[predictors], titanic["Survived"])

#Make predictions using test
predictions = alg.predict(titanic_test[predictors])
#Generating a submission file with desired format
submission = pandas.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })
submission.to_csv("kaggle.csv", index=False)